<div ng-controller="ExtendedQueryController">
	<form ng-submit="connect()" class="form-horizontal">
		<div class="form-group">
			<label for="1" class="col-md-12">Enter the id you want:</label>
			<div class="col-md-3">
				<input id="1" class="form-control" ng-model="id" type="text" placeholder="Enter the id">
			</div>
		</div>
		<div class="form-group">
			<label for="2" class="col-md-12">Enter the name you want:</label>
			<div class="col-md-3">
				<input id="2" class="form-control" ng-model="name" type="text" placeholder="Enter the name">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12">
				<div id="message" class="alert alert-success col-md-3" hidden>
					<p>{{message}}</p>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12">
				<input type="submit" value="Connect" class="btn btn-primary">
			</div>
		</div>
	</form>
</div>